body{
    background-color: #fec356;
    padding: 5px 200px;
}

.contenedor{
    background-color: white;
    padding: 10px 30px;
    margin: 0 auto;
}
.contenido-principal{
    display: flex;
    justify-content: ;
}

.menu{
    border-style: groove;
    width: 200px;
}
.menu h3{
    padding: 10px 15px;
    margin: 0;
    border-bottom: solid;
    border-bottom-width: 1px;
}
.menu-contenido{
    margin-top: 10px;
}

.card{
    border-style: groove;
    margin-bottom: 90px;
    padding-bottom: 90px;
    background-color: #f4f3f4;
    /* margin-left: 250px; */
    /* padding-left: 250px; */
}

.card h2{
    background-color: #fec356;
    padding: 10px 0;
}

.card-img{
    display: flex;
    align-items: center;
    white-space: nowrap;

}
.card-img p{
    margin: 0 auto;
    margin-left: 3px;
    flex-basis: 40%;
    text-align: center;
}
p{
    line-height: 25px;
    font-size: 17px;
}

img{
    width: 100%;
}
.img{
    flex-basis: 60%;
}

.contenido-texto{
    padding-right: ;
}